/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/12/2020, 05:40:34 PM
    Author     : edgar
*/

.botonRedondo{
    border-radius:10px;
}
.card img{
    height: 150px;
    
}
